

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    
}



.container{
    width: 1200px;
    margin: 45px auto;

}


div h1{
    color: rgb(229, 49,112);
    text-align: center;
}

#paragrafo{
    text-align: center;
    padding-top: 62px;
    font-size: 15px;
}



.flex-cards{
    width: 1200px;
    height: 300px;
    margin-top: 50px;
   display: flex;
   flex-wrap: wrap;
   align-content: start;
   align-items: center;
   gap: 30px;
}


.flex-card-container{
    width: 350px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    background-color: rgb(15, 14, 23);
    box-shadow: 1px 1px 5px black;
    display: flex;
    flex-direction: row;
    
}


.flex-card-container img{
    height: 100px;
    width: 100px;
}



.info{
    display: flex;
    flex-direction: column;
}


.info h2 {
    color: white;
    font-size: large;
    height: fit-content;
    padding-top: 10px;
    padding-left: 14px;
    text-transform: uppercase;
}

.info span{
    color: white;
    padding-left: 14px;
    padding-top: 8px;
}

.info a {
padding-top: 6px ;
padding-left: 14px;
color: blue;
}


.info a:hover{
    color: blueviolet;
}

















